In [ ]:
import pandas as pd

grades = pd.DataFrame({    
  'name': ['Chloe', 'Grace', 'Jeremy', 'Isla'],    
  'unit_1_grade': [95, 82, 83, 75],
  'unit_2_grade': [91, 74, 89, 84],    
  # This was added to the DataFrame after it was created to fix the error
  'Grade for the Year': [93, 78, 86, 81] })

# An error was caused by the missing 4th item in 'Grade for the Year' in the DataFrame
print(grades)

     name  unit_1_grade  unit_2_grade  Grade for the Year
0   Chloe            95            91                  93
1   Grace            82            74                  78
2  Jeremy            83            89                  86
3    Isla            75            84                  81

In [13]:
customers = pd.DataFrame([
  ['Jesse Sternberg', '193 6th Avenue', 31],
  ['Amy Lauder', '546 Marblehead Way', 43],
  ['Gerri Sanderson', '65 New York Street', 35],
  ['Austin Barnes', '2888 North Ogden Avenue', 28]],
  columns = ['name', 'address', 'age'])

# Printing the entire DataFrame
print(customers)

# Print the column 'age' using the column name
print(customers['age'])

# Print the column 'age' using the dot notation
print(customers.age)

# Print third row of the DataFrame using the index and iloc
print(customers.iloc[2])

# This will cause an error because the column method is not a valid attribute of dataframes
# print(customers.column['age'])

# This will also cause an error because the column method is not a valid attribute of dataframes
# print(customers[customers.column == 'age'])

              name                  address  age
0  Jesse Sternberg           193 6th Avenue   31
1       Amy Lauder       546 Marblehead Way   43
2  Gerri Sanderson       65 New York Street   35
3    Austin Barnes  2888 North Ogden Avenue   28
0    31
1    43
2    35
3    28
Name: age, dtype: int64
0    31
1    43
2    35
3    28
Name: age, dtype: int64
name          Gerri Sanderson
address    65 New York Street
age                        35
Name: 2, dtype: object