In [3]:
import pandas as pd

sales = pd.read_csv('../_resources/Multiple DataFrames/sales.csv')
print(sales)

targets = pd.read_csv('../_resources/Multiple DataFrames/targets.csv')
print(targets)

      month  revenue
0   January      300
1  February      290
2     March      310
3     April      325
4       May      475
5      June      495
      month  target
0   January     310
1  February     270
2     March     300
3     April     350
4       May     475
5      June     500

In [4]:
# Task 1
men_women = pd.read_csv('../_resources/Multiple DataFrames/men_women_sales.csv')
print(men_women)

      month  men  women
0   January   30     35
1  February   29     35
2     March   31     29
3     April   32     28
4       May   47     50
5      June   49     45

In [5]:
# Task 2
all_data = sales.merge(targets).merge(men_women)

In [6]:
# Task 3
print(all_data)

      month  revenue  target  men  women
0   January      300     310   30     35
1  February      290     270   29     35
2     March      310     300   31     29
3     April      325     350   32     28
4       May      475     475   47     50
5      June      495     500   49     45

In [7]:
# Task 4
results = all_data[(all_data.revenue > all_data.target) & (all_data.women > all_data.men)]
print(results)

      month  revenue  target  men  women
1  February      290     270   29     35