In [1]:
import pandas as pd

In [2]:
orders = pd.read_csv('..\_resources\Pandas - Orders.csv')

In [3]:
# Task 1 - Print the first 10 rows of the DataFrame
orders.head(10)

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color,price
0,41874,Kyle,Peck,KylePeck71@gmail.com,ballet flats,faux-leather,black,385.0
1,31349,Elizabeth,Velazquez,EVelazquez1971@gmail.com,boots,fabric,brown,388.0
2,43416,Keith,Saunders,KS4047@gmail.com,sandals,leather,navy,346.0
3,56054,Ryan,Sweeney,RyanSweeney14@outlook.com,sandals,fabric,brown,344.0
4,77402,Donna,Blankenship,DB3807@gmail.com,stilettos,fabric,brown,289.0
5,97148,Albert,Dillon,Albert.Dillon@gmail.com,wedges,fabric,brown,266.0
6,19998,Judith,Hewitt,JudithHewitt98@gmail.com,stilettos,leather,black,395.0
7,83290,Kayla,Hardin,Kayla.Hardin@gmail.com,stilettos,leather,white,241.0
8,77867,Steven,Blankenship,Steven.Blankenship@gmail.com,wedges,leather,navy,266.0
9,54885,Carol,Mclaughlin,CM3415@gmail.com,ballet flats,faux-leather,brown,440.0

In [4]:
# Task 2 = Determine the most expensive order
most_expensive = orders.price.max()
print(most_expensive)

493.0

In [5]:
# Task 3 - Determine how many unique shoe colors are in the DataFrame
num_colors = len(orders.shoe_color.unique())
print(num_colors)

5