In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = pd.read_csv('..\_resources\Pandas - Orders.csv')

In [3]:
# Task 1 - Pass the groupby method a list of strings to group by multiple columns (i.e, 'shoe_type' and 'shoe_color').
shoe_counts = orders.groupby(['shoe_type','shoe_color']).id.count().reset_index()

# Groupby formatting is important
# Example: df.groupby(['Location', 'Day of Week'])['Total Sales'].mean().reset_index()
# The groupby list must be a list of strings, not a list of lists.
# ['A','B','C'] is okay. 
# [['A','B','C'], ['D','E']] is not okay.

In [4]:
# Task 2 - Print the dataframe shoe_counts
print(shoe_counts)

       shoe_type shoe_color  id
0   ballet flats      black   2
1   ballet flats      brown   5
2   ballet flats        red   3
3   ballet flats      white   5
4          boots      black   3
5          boots      brown   5
6          boots       navy   6
7          boots        red   2
8          boots      white   3
9          clogs      black   4
10         clogs      brown   6
11         clogs       navy   1
12         clogs        red   4
13         clogs      white   1
14       sandals      black   1
15       sandals      brown   4
16       sandals       navy   5
17       sandals        red   3
18       sandals      white   4
19     stilettos      black   5
20     stilettos      brown   3
21     stilettos       navy   2
22     stilettos        red   2
23     stilettos      white   2
24        wedges      black   3
25        wedges      brown   4
26        wedges       navy   4
27        wedges        red   5
28        wedges      white   2