In [2]:
import pandas as pd
import numpy as np

In [3]:
orders = pd.read_csv('..\_resources\Pandas - Orders.csv')

In [4]:
shoe_counts = orders.groupby(['shoe_type','shoe_color']).id.count().reset_index()

# Print shoe_counts for reference
print(shoe_counts)

       shoe_type shoe_color  id
0   ballet flats      black   2
1   ballet flats      brown   5
2   ballet flats        red   3
3   ballet flats      white   5
4          boots      black   3
5          boots      brown   5
6          boots       navy   6
7          boots        red   2
8          boots      white   3
9          clogs      black   4
10         clogs      brown   6
11         clogs       navy   1
12         clogs        red   4
13         clogs      white   1
14       sandals      black   1
15       sandals      brown   4
16       sandals       navy   5
17       sandals        red   3
18       sandals      white   4
19     stilettos      black   5
20     stilettos      brown   3
21     stilettos       navy   2
22     stilettos        red   2
23     stilettos      white   2
24        wedges      black   3
25        wedges      brown   4
26        wedges       navy   4
27        wedges        red   5
28        wedges      white   2

In [5]:
# How to use Pivot Tables in Dataframes and Pandas

# df.pivot(columns='ColumnToPivot',
#         index='ColumnToBeRows',
#         values='ColumnToBeValues')

# # First use the groupby statement:
# unpivoted = df.groupby(['Location', 'Day of Week'])['Total Sales'].mean().reset_index()
# # Now pivot the table
# pivoted = unpivoted.pivot(
#      columns='Day of Week',
#      index='Location',
#      values='Total Sales')

In [7]:
# Task 1 - Create a pivot table from the shoe_counts DataFrame
shoe_counts_pivot = shoe_counts.pivot(
  columns='shoe_color',
  index='shoe_type',
  values='id'
).reset_index()

In [ ]:
# Task 2 - Print the pivot table
print(shoe_counts_pivot)