In [23]:
import pandas as pd
import numpy as np

In [24]:
user_visits = pd.read_csv('..\_resources\Pandas - Page_Visits.csv')

In [25]:
# Task 1 - 
print(user_visits.head())

      id first_name last_name                       email         month  \
0  10043      Louis      Koch       LouisKoch43@gmail.com     3 - March
1  10150      Bruce      Webb     BruceWebb44@outlook.com     3 - March
2  10155   Nicholas   Hoffman  Nicholas.Hoffman@gmail.com  2 - February
3  10178    William       Key     William.Key@outlook.com     3 - March
4  10208      Karen      Bass            KB4971@gmail.com  2 - February

  utm_source
0      yahoo
1    twitter
2     google
3      yahoo
4     google

In [26]:
# Task 2 - Aggregate the data by utm_source
click_source = user_visits.groupby('utm_source').id.count().reset_index()

In [27]:
# Task 3 - Print the number of unique utm_source values
print(click_source)

  utm_source   id
0      email  462
1   facebook  823
2     google  543
3    twitter  415
4      yahoo  757

In [28]:
# Task 4 - Group by utm_source and month
click_source_by_month = user_visits.groupby(['utm_source','month']).id.count().reset_index()
print(click_source_by_month)

   utm_source         month   id
0       email   1 - January   43
1       email  2 - February  147
2       email     3 - March  272
3    facebook   1 - January  404
4    facebook  2 - February  263
5    facebook     3 - March  156
6      google   1 - January  127
7      google  2 - February  196
8      google     3 - March  220
9     twitter   1 - January  164
10    twitter  2 - February  154
11    twitter     3 - March   97
12      yahoo   1 - January  262
13      yahoo  2 - February  240
14      yahoo     3 - March  255

In [29]:
# Task 5 - Reorganize the dataframe into a pivot table
click_source_by_month_pivot = click_source_by_month.pivot(
  columns='month',
  index='utm_source',
  values='id'
).reset_index()

In [30]:
# Task 6 - Print the pivot table
print(click_source_by_month_pivot)

month utm_source  1 - January  2 - February  3 - March
0          email           43           147        272
1       facebook          404           263        156
2         google          127           196        220
3        twitter          164           154         97
4          yahoo          262           240        255